<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<SexyContent FileVersion="07.00.00" MinimumRequiredVersion="07.00.00" ModuleVersion="09.32.01" ExportDate="2019-02-27T08:08:18.9432686+01:00">
  <Header>
    <App Guid="2cce15fd-4fe7-4f6b-ae3d-4814f5ed03b7" />
    <Language Default="en-US" />
    <Dimensions>
      <Dimension DimensionID="112" Name="English (United States)" SystemKey="" ExternalKey="en-US" Active="true" />
      <Dimension DimensionID="113" Name="Deutsch (Deutschland)" SystemKey="" ExternalKey="de-DE" Active="true" />
    </Dimensions>
  </Header>
  <AttributeSets>
    <AttributeSet StaticName="App-Resources" Name="App-Resources" Description="Stores resources like translations for an app" Scope="2SexyContent-App" AlwaysShareConfiguration="false">
      <Attributes />
    </AttributeSet>
    <AttributeSet StaticName="App-Settings" Name="App-Settings" Description="Stores settings for an app" Scope="2SexyContent-App" AlwaysShareConfiguration="false">
      <Attributes />
    </AttributeSet>
  </AttributeSets>
  <Entities>
    <Entity AssignmentObjectType="App" AttributeSetStaticName="2SexyContent-App" AttributeSetName="2SexyContent-App" EntityGUID="a9cc4848-4140-4852-bde2-5dc9e1c7efa8" KeyNumber="128">
      <Value Key="AllowRazorTemplates" Value="True" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="AllowTokenTemplates" Value="True" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Description" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="DisplayName" Value="Tutorial Razor Blade" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Folder" Value="Tutorial Razor Blade" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Hidden" Value="False" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="OriginalId" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="RequiredDnnVersion" Value="07.02.00" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="RequiredVersion" Value="08.03.00" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="SupportsAjaxReload" Value="False" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Version" Value="01.01.00" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity AssignmentObjectType="App" AttributeSetStaticName="App-Settings" AttributeSetName="App-Settings" EntityGUID="c01e2163-9b08-45c3-83ab-f12faed91528" KeyNumber="128" />
    <Entity AssignmentObjectType="App" AttributeSetStaticName="App-Resources" AttributeSetName="App-Resources" EntityGUID="d4045623-dd74-436a-b3ce-9ed1468023a5" KeyNumber="128" />
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="bd01e3f6-ae28-4cee-9ccf-ff081b92ca8d">
      <Value Key="ContentTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="IsHidden" Value="False" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="ListContentTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Location" Value="Portal File System" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Name" Value="1 Home and Overview" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Path" Value="_home.cshtml" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="PresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="PublishData" Value="False" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="StreamsToPublish" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Type" Value="C# Razor" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="UseForList" Value="False" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="ViewNameInUrl" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="614abc2b-978e-4547-8a3e-f4f9d2e48e8b">
      <Value Key="ContentTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="IsHidden" Value="False" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="ListContentTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Location" Value="Portal File System" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Name" Value="Crop and Ellipsis" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Path" Value="_text-crop-ellipsis.cshtml" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="PresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="PublishData" Value="False" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="StreamsToPublish" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Type" Value="C# Razor" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="UseForList" Value="False" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="ViewNameInUrl" Value="text-crop/.*" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="6b04b05a-f874-4781-948c-e433501d7acf">
      <Value Key="ContentTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="IsHidden" Value="False" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="ListContentTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Location" Value="Portal File System" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Name" Value="Zip" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Path" Value="_text-zip.cshtml" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="PresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="PublishData" Value="False" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="StreamsToPublish" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Type" Value="C# Razor" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="UseForList" Value="False" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="ViewNameInUrl" Value="text-zip/.*" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="ae6a5e9e-4497-401c-a056-774c04fb5425">
      <Value Key="ContentTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="IsHidden" Value="False" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="ListContentTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Location" Value="Portal File System" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Name" Value="HasText" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Path" Value="_text-has.cshtml" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="PresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="PublishData" Value="False" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="StreamsToPublish" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Type" Value="C# Razor" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="UseForList" Value="False" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="ViewNameInUrl" Value="text-has/.*" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="dd66e9b6-a52a-4008-9a5a-6a557ead37d6">
      <Value Key="ContentTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="IsHidden" Value="False" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="ListContentTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Location" Value="Portal File System" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Name" Value="First Text" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Path" Value="_text-first.cshtml" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="PresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="PublishData" Value="False" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="StreamsToPublish" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Type" Value="C# Razor" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="UseForList" Value="False" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="ViewNameInUrl" Value="text-first/.*" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="15b46f4e-13d3-460a-8c99-8e5c2ba2b60e">
      <Value Key="ContentTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="IsHidden" Value="False" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="ListContentTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Location" Value="Portal File System" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Name" Value="Tags Strip" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Path" Value="_tags-strip.cshtml" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="PresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="PublishData" Value="False" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="StreamsToPublish" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Type" Value="C# Razor" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="UseForList" Value="False" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="ViewNameInUrl" Value="tags-strip/.*" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="c6b84810-a669-4bb2-a013-3e3116731c63">
      <Value Key="ContentTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="IsHidden" Value="False" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="ListContentTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Location" Value="Portal File System" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Name" Value="Tags BR" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Path" Value="_tags-br.cshtml" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="PresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="PublishData" Value="False" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="StreamsToPublish" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Type" Value="C# Razor" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="UseForList" Value="False" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="ViewNameInUrl" Value="tags-br/.*" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="21de4a62-5402-4248-b2ee-a5428224afb6">
      <Value Key="ContentTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="IsHidden" Value="False" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="ListContentTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Location" Value="Portal File System" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Name" Value="Page" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Path" Value="_page.cshtml" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="PresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="PublishData" Value="False" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="StreamsToPublish" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Type" Value="C# Razor" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="UseForList" Value="False" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="ViewNameInUrl" Value="htmlpage/.*" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="706a9f31-c453-4724-8585-6ff6c75d2955">
      <Value Key="ContentTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="IsHidden" Value="False" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="ListContentTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Location" Value="Portal File System" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Name" Value="Page - JSON-LD" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Path" Value="_json-ld.cshtml" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="PresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="PublishData" Value="False" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="StreamsToPublish" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Type" Value="C# Razor" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="UseForList" Value="False" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="ViewNameInUrl" Value="jsonld/.*" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="6a05bb58-7a9f-4638-bdc5-1d06472ccada">
      <Value Key="ContentTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="IsHidden" Value="False" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="ListContentTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Location" Value="Portal File System" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Name" Value="Page - Open Graph" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Path" Value="_open-graph.cshtml" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="PresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="PublishData" Value="False" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="StreamsToPublish" Value="" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="Type" Value="C# Razor" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="UseForList" Value="False" Type="Boolean">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
      <Value Key="ViewNameInUrl" Value="opengraph/.*" Type="String">
        <Dimension DimensionID="112" ReadOnly="false" />
      </Value>
    </Entity>
  </Entities>
  <PortalFiles />
  <PortalFolders>
    <Folder Id="3000" RelativePath="adam/Tutorial Razor Blade/" />
  </PortalFolders>
</SexyContent>