<h1>Razor Blade Demos</h1>
<div>
    The following demos help you get started with <a href="https://github.com/DNN-Connect/razor-blade" target="_blank">Razor Blade</a>. It is based on Razor Blade v0.1 beta. 
</div>
<div>
    These demos will not work if you don't have Razor Blade installed. 2sxc 9.40 will include Razor Blade, but if you're trying this on previous versions, make sure you install it separately from <a href="https://github.com/DNN-Connect/razor-blade/releases" target="_blank">github releases</a>. 
</div>

<h2>
    Demos / Tutorials
</h2>

<ol>
    <li><a href='@Link.To(parameters: "ellipsis=true")'>Cropping text and Ellipsis</a></li>
    <li><a href='@Link.To(parameters: "hastext=true")'>Really checking if something has text</a></li>
    <li><a href='@Link.To(parameters: "firsttext=true")'>Showing the first real text</a></li>
    <li><a href='@Link.To(parameters: "zip=true")'>Zip text</a></li>
</ol>